<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>NO</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>이 앱은 사진 촬영을 위해 카메라 접근 권한이 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>이 앱은 사진 업로드를 위해 사진첩 접근 권한이 필요합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>이 앱은 촬영한 사진을 저장하기 위해 사진첩 접근 권한이 필요합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>캠퍼스맵 내 위치 표시를 위해 위치 권한이 필요합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>캠퍼스맵 내 위치 표시를 위해 위치 권한이 필요합니다.</string>
</dict>
</plist>
